.App{
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}



.search-input{
    width: 500px;
    padding: 5px;
}

.results-container{
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  height: 500px;
  overflow-y: scroll;
  text-align: left;
}

.result{
  display: block;
  padding: 5px;
}

.result:hover{
  background-color: grey;
  cursor: pointer;
}